.vehicles__list-item__header__icon-container {
  position: relative;
}

.vehicles__list-item__header__info-status {
  width: 20px;
  height: 20px;
  border-radius: 12px;
  border: 4px solid #FFFFFF;
  position: absolute;
  bottom: -8px;
  right: -8px;

  &--active {
    background-color: #46D100;
  }

  &--non-active {
    background-color: #8c8c95;
  }
}