.sidebar{
  font-weight: 500;
  width: 306px;
  height: 100vw;
  position: fixed;
  background-color: white;
  padding: 32px 28px;
}

.sidebar__logo-container {
  display: flex;
  padding-left: 8px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  margin-bottom: 44px;
}

.sidebar__logo-container__logo{
  color: #262626;
  font-family: Mont, sans-serif;
  font-size: 40px;
  font-weight: 800;
  line-height: 1.3;
}

.sidebar__logo-container__subtitle{
  color: #A2A3A5;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
}

.sidebar__nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar__nav__item{
  display: flex;
  padding: 16px 20px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 12px;
  fill: none;
  stroke: #262626;
  border: 2px solid transparent;

  transition-property: border-color, background-color;
  transition-timing-function: ease-out;
  transition-duration: 100ms;

  &:hover {
    background-color: #26262633;
    border-color: #262626;
    stroke: #262626;
    color: #262626;
  }

  &--selected {
    background-color: #262626;
    color: #fff;
    stroke: #fff;
    border-color: #262626;
  }
}

.sidebar__nav__item__title{
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

